In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../.streamlit/test-420302-238fe77a8517.json"
from google.cloud import bigquery
client = bigquery.Client()
query = """
select *
from `test-420302.test.access_log_ga4`
"""
df = client.query(query).to_dataframe()

In [2]:
df.head()

          user_pseudo_id  session_num  pv_num  purchase_num
0  7385163302.4274482131           12      92             1
1    54305950.4253863829           12      19             0
2     1819801.1582224257           12      26             0
3    29392387.1914586824           12      39             0
4     9175563.4519041873           12      80             0